.container{
    background-color: #ffde59;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-end;
    margin:0%;
    padding:0%;
    color:white;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.buscar input{

    width: 480px;
    height: 35px;
    padding: 0 20px;
    font-size: 18px;
    border-style:none ;
    border-color: white;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 4%;
}

.btn{
    position:absolute;
    top:13%;
    left: 49%;
    right:62% ;
    color:red;
    width: 55px;
    height: 55px;
}
.logo{
   
    height: 130px;
    width: 130px;
    margin-top: 0%; 
    margin-bottom: 0%;
   
}