.product{
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40%;
    height:40%;
    margin: 50px ;
    margin-left: 50px;
    padding: 25px;
    border-radius: 10px;
    background-color: #ffde59;
    color:white;
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana,sans-serif;
    
}